.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footerTitle{
    font-size: 3.5rem;
    font-weight: 500;
}
@media screen and (max-width: 700px){
    .footerTitle{
        font-size: 2.5rem;
    }
    .button{
        width: 30vw;
    }
}
@media screen and (max-width: 440px){
    .button{
        width: 15rem;
    }
}